RewriteEngine on
RewriteCond %{HTTP_HOST} ^tools.edersonfernandes.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.tools.edersonfernandes.com.br/$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
